.posicao {
    position: fixed; 
    bottom:0; 
    width: 100%;
    background-color: #E8E8E8;
}

footer {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    height: 3vh;
    background-color: #EEEE00 !important;
}